.hide {
    display: none;
}

#clockMessage{
  color: white;
  font-weight: 600;
  font-size: 70px;
}

#clockText{
  font-size: 200px;
  color: white;
}

.center {
    margin: 0 auto;
    width: 80%;
    align-items: center;
}
